.users-list {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.users-list table {
  width: 100%;
  border-collapse: collapse;
}

.users-list th, .users-list td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.users-list th {
  background-color: #333;
  color: #f1f1f1;
}

.btn {
  background-color: #0056b3;
  color: #e1e1e1;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}


.users-list button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.user-details {
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.user-details p {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .users-list table, .users-list thead, .users-list tbody, .users-list th, .users-list td, .users-list tr {
    display: block;
  }

  .users-list tr {
    margin-bottom: 10px;
  }

  .users-list td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .users-list td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
  }
}
