



    <section class="hero">
        <div class="hero-content">
            <h1 class="animated-heading">DRIVE WITH CONFIDENCE</h1>
            <a routerLink="/register" class="btn">Book Now</a>
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <span class="f-icon">
                <img src="https://cdn.bookingtimes.com/Common/LoadImage?Id=19598&amp;v=1">
            </span>
            <p class="f-content"><strong> EXPERIENCED INSTRUCTORS</strong></p>
        </div>
        <div class="feature1">
            <span class="f-icon">
                <img src="https://cdn.bookingtimes.com/Common/LoadImage?Id=19599&amp;v=1">
            </span>
            <p class="f-content"><strong>COMPETITIVE PACKAGES</strong></p>
        </div>
        <div class="feature2">
            <span class="f-icon">
                <img src="https://cdn.bookingtimes.com/Common/LoadImage?Id=19600&amp;v=1">
            </span>
            <p class="f-content"><strong>GREAT RESULTS</strong></p>
        </div>
        
    </section>

    <section class="about">
        <h2><strong>WHO WE ARE</strong></h2>
        <div class="about-content">
          <img src="assets/landingPage/who.jpg" alt="Instructor">
          <p><strong>My Drive School is your leading provider for driving lessons, both manual and auto. But that’s not all! We take it a step further with custom driving reports, designed to help keep each individual student on track. We know that learning to drive can be a daunting task, but our friendly instructors are here to make your driving lessons fun and stress-free. Whether you’re a new driver or just need to refresh your skills, our instructors are here to help. Take the next step and get on the road!</strong></p>
        </div>
        <a href="/login" class="btn1">Get Started</a>
        

        <div class="car-animation">
            <img src="assets/landingPage/car1.png" alt="Driving Car" class="car">
        </div>


      </section>
      


    <section class="packages">
        <h2><strong>OUR PACKAGES</strong></h2>
        <div class="package">
            <h3>Two Wheeler</h3>
            <p>6 Days Package</p>
            <p> Rs:4000</p>
            <p>6 x In-Bike Lesson</p>
            <p>Free Pick Up and Drop Off</p>
            <a routerLink="/register" class="btn">Buy Now</a>
        </div>
        <div class="package">
            <h3>Two Wheeler</h3>
            <p>15 Days Package</p>
            <p> Rs:6000</p>
            <p>15 x In-Bike Lesson</p>
            <p>Free Pick Up and Drop Off</p>
            <a routerLink="/register" class="btn">Buy Now</a>
        </div>
        <div class="package">
            <h3>Four Wheeler</h3>
            <p>10 Days Package</p>
            <p> Rs:9000</p>
            <p>10 x In-Car Lesson</p>
            <p>Free Pick Up and Drop Off</p>
            <a routerLink="/register" class="btn">Buy Now</a>
        </div>
        <div class="package">
            <h3>Four Wheeler</h3>
            <p>20 Days Package</p>
            <p> Rs:12000</p>
            <p>20 x In-Car Lesson</p>
            <p>Free Pick Up and Drop Off</p>
            <a routerLink="/register" class="btn">Buy Now</a>
        </div>
    </section>

    <section class="why-choose-us">
        <h2><strong>WHY CHOOSE US?</strong></h2>
        <div class="reasons">
            <div class="reason">
                <img src="assets/one.png" alt="Best Safety Measures">
                <h3><strong>Best Safety Measures</strong></h3>
            </div>
            <div class="reason">
                <img src="assets/two.png" alt="Experienced Instructors">
                <h3><strong>Experienced Instructors</strong></h3>
            </div>
            <div class="reason">
                <img src="assets/three.png" alt="Perfect Timing">
                <h3><strong>Perfect Timing</strong></h3>
            </div>
            <div class="reason">
                <img src="assets/four.png" alt="Affordable Pricing">
                <h3><strong>Affordable Pricing</strong></h3>
            </div>
            <div class="reason">
                <img src="assets/five.png" alt="Payment Plans">
                <h3><strong>Payment Plans</strong></h3>
            </div>
        </div>
    </section>

    