<div class="forgot-password-container">
    <h2 class="mb-4">Forgot Password</h2>
    <form (ngSubmit)="sendOtp()" #forgotPasswordForm="ngForm" novalidate>
      <div class="form-fields">
  
        <div class="form-group">
          <label for="phone">Phone*</label>
          <input type="text" id="phone" [(ngModel)]="formData.phone" name="phone" required #phone="ngModel">
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error">
            Phone is required
          </div>
        </div>
  
      </div>
  
      <div class="form-actions">
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Send OTP</button>
      </div>
    </form>
  
    <div *ngIf="otpSent">
      <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm" novalidate>
        <div class="form-fields">
          <div class="form-group">
            <label for="otp">OTP*</label>
            <input type="text" id="otp" [(ngModel)]="formData.otp" name="otp" required #otp="ngModel">
            <div *ngIf="otp.invalid && (otp.dirty || otp.touched)" class="error">
              OTP is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="newPassword">New Password*</label>
            <input type="password" id="newPassword" [(ngModel)]="formData.newPassword" name="newPassword" required #newPassword="ngModel">
            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="error">
              New Password is required
            </div>
          </div>
        </div>
  
        <div class="form-actions">
          <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
  