<!-- admin-dashboard.component.html -->
<div class="user-dashboard">
    <h1>User Dashboard</h1>
    <nav>
        <ul class="mt-5">
            <li><a routerLink="/user-dashboard/manage-booking" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Manage Bookings</a></li>
            <li><a routerLink="/user-dashboard/class-attended" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Classes Attended</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
